<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>Simulador de Roteador</title>
    <script src="/static/js/Chart.bundle.js"></script>
</head>

<body>
    <div id="mask" style="position:absolute; opacity:0.7; width:100%; height:100%; background-color:#FFF; display:none;">
        <img style="position:absolute; left:calc(50% - 64px); top:calc(50% - 64px);" src="/static/images/spinner.gif"/>
    </div>
    
    <div style="width:75%; float:left;">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <br>
    <div style="width:24%; float:left;">
        <label>Gráfico:</label>
        <form action="">
            <input type="radio" name="variavel" value="0"> Estatísticas<br>
            <input type="radio" name="variavel" value="1" checked> E[N]<br>
            <input type="radio" name="variavel" value="2" > E[N] (Voz)<br>
            <input type="radio" name="variavel" value="3" > E[N] (Dados)<br>
            <input type="radio" name="variavel" value="4" > E[Nq] (Voz)<br>
            <input type="radio" name="variavel" value="5" > E[Nq] (Dados)<br>
            <input type="radio" name="variavel" value="6" > E[T] (Voz)<br>
            <input type="radio" name="variavel" value="7" > E[T] (Dados)<br>
            <input type="radio" name="variavel" value="8" > E[W] (Voz)<br>
            <input type="radio" name="variavel" value="9" > E[W] (Dados)<br>
            <input type="radio" name="variavel" value="10"> V(W) (Voz)<br>
            <input type="radio" name="variavel" value="11"> V(W) (Dados)<br>
            <input type="radio" name="variavel" value="12"> Eventos (Terminal)
        </form>
        <br/><b>Fase transiente:</b><br/>
        <label>Tamanho de amostra*:</label>  <input type="text" id="transamostra" style="width:70px;" value="1000"/><br>
        <label>Margem de variância*:</label> <input type="text" id="transmargem"  style="width:70px;" value="0.002"/><br>
        <br/><b>Geral:</b><br/>
        <label>Lambda*:</label>                 <input type="text" id="lambda"           style="width:70px;" value="0.3"/><br>
        <label>Eventos por rodada (voz)*:</label>   <input type="text" id="eventosporrodadavoz"   style="width:70px;" value="100000"/><br>
        <label>Eventos por rodada (dados)*:</label> <input type="text" id="eventosporrodadadados" style="width:70px;" value="100000"/><br>
        <label>Número de rodadas*:</label>      <input type="text" id="rodadas"          style="width:70px;" value="50"/><br>
        <label>Número de simulações*:</label>   <input type="text" id="simulacoes"       style="width:70px;" value="1"/><br>
        <label>Intervalo de confiança*:</label> <input type="text" id="confianca"        style="width:70px;" value="0.9"/><br>
        <input type="checkbox" id="interrupcoes" checked> Interrupções<br>
        <input type="checkbox" id="progressiveLoad"> Carregar progressivamente<br>
        <input type="checkbox" id="teste"> Teste de corretude<br>
        <input type="checkbox" id="desabilitarvoz"> Desabilitar voz<br>
        <input type="checkbox" id="desabilitardados"> Desabilitar dados<br>
        <label>Semente:</label> <input type="text" id="semente" style="width:70px;" value=""/><br>
        <button id="runSimulator">Executar simulador</button>
    </div>
    <div id="output-console" style="width:100%; float:left;"></div>
    <script>
        window.chartColors = [
            'rgb(255,  99, 132)', // red
            'rgb(255, 159,  64)', // orange
            'rgb(75,  192, 192)', // green
            'rgb(54,  162, 235)', // blue
            'rgb(153, 102, 255)', // purple
            'rgb(201, 203, 207)'  // grey
        ];
        function takeChartColor(color) {
            var index = color;
            while (window.chartColors.length <= index) {
                index -= window.chartColors.length;
            }
            return window.chartColors[index];
        }

        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Simulação',
                    backgroundColor: takeChartColor(0),
                    borderColor: takeChartColor(0),
                    data: [],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {display: false},
                tooltips: {enabled: false},
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {display:false},
                        scaleLabel: {
                            display: true,
                            labelString: 'Tempo'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {display:false},
                        scaleLabel: {
                            display: true,
                            labelString: 'Valor'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };

        function setSpinnerVisible(visible) {
            var mask = document.getElementById("mask");
            mask.style["display"] = visible ? "block" : "none";
        }

        function stringByReplacingAllOccurencesOfString(string, original, replacement) {
            var checkPoint = 0; 
            var newString = string;
            while (newString.indexOf(original, checkPoint) != -1) {
                var index = newString.indexOf(original, checkPoint);
                newString = newString.slice(0, index) + replacement + newString.slice(index + original.length);
                checkPoint = index + replacement.length;
            }
            return newString;
        }

        function loadFile(url, callback, errorCallback){
            var timeout = 24*60*60*1000; // 24 horas em milisegundos, garantindo que nunca haja timeout
            var xhr = new XMLHttpRequest();
            xhr.ontimeout = function () {
                console.error("The request for " + url + " timed out.");
            };
            xhr.onload = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    callback(xhr.responseText);
                }
                else {
                    if (errorCallback != undefined) errorCallback();
                }
            };
            xhr.open("GET", url, true);
            xhr.timeout = timeout;
            xhr.send(null);
        }

        
        var runningMainIndex = -1;

        document.getElementById('runSimulator').addEventListener('click', function () {
            runningMainIndex += 1;
            var runningIndex = runningMainIndex;

            var eventosporrodadavoz   = document.getElementById("eventosporrodadavoz").value;
            var eventosporrodadadados = document.getElementById("eventosporrodadadados").value;
            var lambda           = document.getElementById("lambda").value;
            var rodadas          = document.getElementById("rodadas").value;
            var simulacoes       = document.getElementById("simulacoes").value;
            var confianca        = document.getElementById("confianca").value;
            var semente          = document.getElementById("semente").value || "0";
            var transamostra     = document.getElementById("transamostra").value;
            var transmargem      = document.getElementById("transmargem").value;
            var teste            = document.getElementById("teste").checked;
            var interrupcoes     = document.getElementById("interrupcoes").checked;
            var progressiveLoad  = document.getElementById("progressiveLoad").checked;
            var desabilitarvoz   = document.getElementById("desabilitarvoz").checked;
            var desabilitardados = document.getElementById("desabilitardados").checked;

            if (parseInt(rodadas) < 30) {
                alert("São necessárias pelo menos 30 rodadas para que haja um intervalo de confiança.");
                return;
            }
            
            config.data.labels = [];
            config.data.datasets[0].data = [];
            window.myLine.update();
            
            var csvIndex = 0;
            var lastCheckedCsvIndex = -1;
            
            var loadNextCsvTime = 20;
            var reloadViewTime = 1000;

            var variavelAtiva = '1';
            var variavelRadios = document.getElementsByName('variavel');
            for (var i = 0; i < variavelRadios.length; i++) {
                if (variavelRadios[i].checked) {
                    variavelAtiva = variavelRadios[i].value;
                    break;
                }
            }
            if (variavelAtiva == '0') progressiveLoad = false;
            if (progressiveLoad == false) {
                setSpinnerVisible(true);
            }

            var args = {lambda: lambda,
                        eventosporrodadavoz: eventosporrodadavoz,
                        eventosporrodadadados: eventosporrodadadados,
                        rodadas: rodadas,
                        simulacoes: simulacoes,
                        progressivo: progressiveLoad.toString(),
                        interrupcoes: interrupcoes,
                        teste: teste,
                        variavel: variavelAtiva,
                        confianca: confianca,
                        semente: semente,
                        transamostra: transamostra,
                        transmargem: transmargem,
                        desabilitarvoz: desabilitarvoz, 
                        desabilitardados: desabilitardados};

            var argsArray = [];
            var argKeys = Object.keys(args);
            for (var index = 0; index < argKeys.length; index++) {
                var key = argKeys[index];
                argsArray.push(key + "=" + args[key]);
            }
            var argsString = argsArray.join('&');

            loadFile('/simulator?' + argsString,function(simulatorText){
                if (progressiveLoad == false) {
                    setSpinnerVisible(false);

                    if (variavelAtiva == '0') {
                        var outputConsole = document.getElementById('output-console');
                        outputConsole.innerHTML = stringByReplacingAllOccurencesOfString(simulatorText, "\n", "<br/>")
                        return;
                    }

                    var simulatorComponents = simulatorText.split('\n');
                    for (var i = simulatorComponents.length - 1; i >= 0; i--) {
                        if (simulatorComponents[i].indexOf(',') == -1) {
                            simulatorComponents.splice(i, 1);
                        }
                    }
                    simulatorComponents = simulatorComponents.map(function(comp) {
                        var entry = comp.split(',');
                        return {value:parseFloat(entry[0]), group:parseInt(entry[1])};
                    });
                    var simulatorValues = simulatorComponents.map(function(entry) {return entry.value;});
                    // var simulatorColors = simulatorComponents.map(function(entry) {return entry.group;});
                    
                    // var roundIndex = 0;
                    // var datasets = [];
                    // while (simulatorColors.indexOf(roundIndex) != -1) {
                    //     var index = simulatorColors.indexOf(roundIndex);
                    //     var finalIndex = simulatorColors.indexOf(roundIndex + 1);
                    //     if (finalIndex == -1) finalIndex = simulatorColors.length;
                    //     simulatorColors.splice(index, finalIndex - index);
                        
                    //     datasets.push({
                    //         label: 'Rodada ' + (roundIndex + 1),
                    //         backgroundColor: takeChartColor(roundIndex),
                    //         borderColor: takeChartColor(roundIndex),
                    //         data: simulatorValues.splice(index, finalIndex - index),
                    //         fill: false,
                    //     });
                        
                    //     roundIndex += 1;
                    // }
                    
                    // config.data.labels = [];
                    // config.data.datasets = datasets;

                    config.data.labels = [];
                    config.data.datasets[0].data = simulatorValues;
                    window.myLine.update();
                }
            });

            if (progressiveLoad == true) {
                var continueProcedure = function() {
                    if (runningIndex != runningMainIndex) return;

                    if (lastCheckedCsvIndex != csvIndex) 
                    {
                        lastCheckedCsvIndex = csvIndex;

                        loadFile('/plot/' + csvIndex + '.csv',function(simulatorText){
                            csvIndex += 1;

                            var simulatorComponents = simulatorText.split('\n');
                            for(var i = simulatorComponents.length - 1; i >= 0; i--) {
                                if (simulatorComponents[i].indexOf(',') == -1) {
                                    simulatorComponents.splice(i, 1);
                                }
                            }
                            simulatorComponents = simulatorComponents.map(function(comp) {
                                var entry = comp.split(',');
                                return {value:parseFloat(entry[0]), group:parseInt(entry[1])};
                            });

                            simulatorValues = simulatorComponents.map(function(entry) {return entry.value;});
                            //simulatorColors = simulatorComponents.map(function(entry) {return entry.group;});
                            simulatorLabels = simulatorComponents.map(function(entry) {return "";});

                            Array.prototype.push.apply(config.data.labels, simulatorLabels);
                            Array.prototype.push.apply(config.data.datasets[0].data, simulatorValues);
                            
                        },
                        function(){
                            lastCheckedCsvIndex = -1;
                        });
                    }
                    setTimeout(continueProcedure, loadNextCsvTime);
                }
                continueProcedure();

                var reloadViewProcedure = function() {
                    if (runningIndex != runningMainIndex) return;
                    window.myLine.update();
                    setTimeout(reloadViewProcedure, reloadViewTime);
                };
                reloadViewProcedure();
            }
        });
    </script>
</body>

</html>