<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>Hello World Template</title>
    <script src="/static/js/Chart.bundle.js"></script>
</head>

<body>
    <div id="mask" style="position:absolute; opacity:0.7; width:100%; height:100%; background-color:#FFF; display:none;">
        <img style="position:absolute; left:calc(50% - 64px); top:calc(50% - 64px);" src="/static/images/spinner.gif"/>
    </div>
    
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <br>
    <button id="runSimulator">Executar simulador</button>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        window.randomScalingFactor = function() {
            return Math.round(Samples.utils.rand(-100, 100));
        };

        var Samples = {};
        Samples.utils = {
            // Adapted from http://indiegamr.com/generate-repeatable-random-numbers-in-js/
            srand: function(seed) {
                this._seed = seed;
            },

            rand: function(min, max) {
                var seed = this._seed;
                min = min === undefined ? 0 : min;
                max = max === undefined ? 1 : max;
                this._seed = (seed * 9301 + 49297) % 233280;
                return min + (this._seed / 233280) * (max - min);
            }
        };
        Samples.utils.srand(Date.now());

        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Simulação'
                },
                tooltips: {
                    enabled: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };

        function setMaskVisible(visible) {
            var mask = document.getElementById("mask");
            mask.style["display"] = visible ? "block" : "none";
        }

        function loadFile(url, callback){
            var timeout = 24*60*60*1000; // 24 horas em milisegundos, garantindo que nunca haja timeout
            var xhr = new XMLHttpRequest();
            xhr.ontimeout = function () {
                console.error("The request for " + url + " timed out.");
            };
            xhr.onload = function() {
                setMaskVisible(false);

                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        callback(xhr.responseText);
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.open("GET", url, true);
            xhr.timeout = timeout;
            xhr.send(null);

            setMaskVisible(true);
        }

        document.getElementById('runSimulator').addEventListener('click', function () {
            console.log("UPDATE");

            loadFile('/simulator?variavel=6&rodadas=1&pacotesporrodada=10000',function(simulatorText){
                if (simulatorText == undefined) {
                    console.log("YOU NOT DEFINED?!");
                    return;
                }

                var simulatorComponents = simulatorText.split('\n');
                simulatorComponents = simulatorComponents.map(function(comp) {
                    var entry = comp.split(',');
                    if (entry.length == 2) {
                        return {value:parseFloat(entry[0]), group:parseInt(entry[1])};
                    }
                    return {value:null, group:null};
                });

                simulatorValues = simulatorComponents.map(function(entry) {
                    return entry.value;
                });
                for(var i = simulatorValues.length - 1; i >= 0; i--) {
                    if(simulatorValues[i] === null) {
                        simulatorValues.splice(i, 1);
                    }
                }

                simulatorColors = simulatorComponents.map(function(entry) {
                    return entry.group;
                });
                for(var i = simulatorColors.length - 1; i >= 0; i--) {
                    if (simulatorColors[i] === null) {
                        simulatorColors.splice(i, 1);
                    }
                }

                simulatorLabels = simulatorComponents.map(function(entry) {
                    return "";
                });

                config.data.labels = simulatorLabels;
                config.data.datasets[0].data = simulatorValues;
                window.myLine.update();
            });
        });
    </script>
</body>

</html>